<script id="userInfo">
    [{{{json getUser}}}];
</script>
<div class="account">
    <div class="account-sidePanel">
        <h3 class="section-header">Menu</h3>
        <nav class="account-menu">
            <ul class="account-menu--list">
                <li class="account-menu--item">
                    <a href="#" class="account-menu--link active" data-dependency="Account">Twoje konto</a>
                </li>
                <li class="account-menu--item">
                    <a href="#" class="account-menu--link" data-dependency="Games">Twoje gry</a>
                </li>
                <li class="account-menu--item">
                    <a href="#" class="account-menu--link" data-dependency="Achievements">Twoje osiągnięcia</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="account-mainContent">
        <h2 class="section-header">Twoje Konto</h2>
        <div class="account-content">
            <h3 class="account-header">Twoje Dane:</h3>
            <div class="account-data">
                <div class="account-data_column">
                    <label class="account-data_label">Imie</label>
                    <label class="account-data_label">Nazwisko</label>
                </div>
                <div class="account-data_column">
                    <input type="text" class="account-data_input" name="NAME" value="{{getUser.NAME}}">
                    <input type="text" class="account-data_input" name="LAST_NAME" value="{{getUser.LAST_NAME}}">
                </div>
            </div>
            <h3 class="account-header">Twoj Adres:</h3>
            <div class="account-data">
                <div class="account-data_column">
                    <label class="account-data_label">Miasto</label>
                    <label class="account-data_label">Ulica</label>
                    <label class="account-data_label">ZIP</label>
                    <label class="account-data_label">Telefon</label>
                </div>
                <div class="account-data_column">
                    <input type="text" class="account-data_input" name="CITY" value="{{getUser.ADDRESS.CITY}}">
                    <input type="text" class="account-data_input" name="STREET" value="{{getUser.ADDRESS.STREET}}">
                    <input type="text" class="account-data_input" name="ZIP" value="{{getUser.ADDRESS.ZIP}}">
                    <input type="text" class="account-data_input" name="PHONE" value="{{getUser.ADDRESS.PHONE}}">
                </div>
            </div>
            <div class="account-buttons">
                <a href="#" class="account-buttons_button">Zapisz</a>
            </div>
        </div>
    </div>
</div>