<div class="page_wrapper">
    <div class="account">
        <h2 class="section-header">Twoje Konto</h2>
        <div class="account-content">
            <h3 class="account-header">Twoje Dane:</h3>
            <div class="account-data">
                <div class="account-data--column">
                    <label class="account-data--label">Imie</label>
                    <label class="account-data--label">Nazwisko</label>
                </div>
                <div class="account-data--column">
                    <input type="text" class="account-data--input" value="{{NAME}}" disabled>
                    <input type="text" class="account-data--input" value="{{LAST_NAME}}" disabled>
                </div>
                <div class="account-data--column">
                    <a href="#" class="account-data--edit">Edytuj</a>
                    <a href="#" class="account-data--edit">Edytuj</a>
                </div>
            </div>
            <h3 class="account-header">Twoj Adres:</h3>
            <div class="account-data">
                <div class="account-data--column">
                    <label class="account-data--label">Miasto</label>
                    <label class="account-data--label">Ulica</label>
                    <label class="account-data--label">ZIP</label>
                    <label class="account-data--label">Telefon</label>
                </div>
                <div class="account-data--column">
                    <input type="text" class="account-data--input" value="{{ADDRESS.CITY}}" disabled>
                    <input type="text" class="account-data--input" value="{{ADDRESS.STREET}}" disabled>
                    <input type="text" class="account-data--input" value="{{ADDRESS.ZIP}}" disabled>
                    <input type="text" class="account-data--input" value="{{ADDRESS.PHONE}}" disabled>
                </div>
                <div class="account-data--column">
                    <a href="#" class="account-data--edit">Edytuj</a>
                    <a href="#" class="account-data--edit">Edytuj</a>
                    <a href="#" class="account-data--edit">Edytuj</a>
                    <a href="#" class="account-data--edit">Edytuj</a>
                </div>
            </div>
        </div>
    </div>
</div>